$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1400px;

@mixin mobile {
  @media (width < $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (width < $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (width >= $breakpoint-desktop) {
    @content;
  }
}